# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Variable files that may contain sensitive data
terraform.tfvars
*.auto.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials / keys
*.pem
.terraform
awscliv2
awscliv2.zip